@model IEnumerable<Student>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <ul>
        @foreach (var i in Model)
        {
            <li>@i.LastName</li>
        }
    </ul>
</div>
